<h1>Listing players</h1>

<table>
  <tr>
    <th>Fname</th>
    <th>Lname</th>
    <th>Nickname</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Is active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.fname %></td>
    <td><%= player.lname %></td>
    <td><%= player.nickname %></td>
    <td><%= player.phone %></td>
    <td><%= player.email %></td>
    <td><%= player.is_active %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>
